fetured__container {
	width: 1600px;
	.fetured__text {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: var(--gray-text-color);
		margin-top: 6px;
	}
	.fetured__list {
		padding-inline-start: 0px;
		margin-left: 230px;
		margin-right: 230px;
	}
	.fetured__item {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: var(--gray-text-color);
		background-image: url(../img/Background1.png);
		height: 581px;
		width: 360px;
		display: inline-block;
	}
	.fetured__item-name {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: var(--black-color);
		padding-top: 14px;
		padding-left: 16px;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}
	.fetured_item-category {
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5D5D5D;
		padding-top: 13px;
		padding-left: 16px;
		margin-block-start: 0em;
		margin-block-end: 0em;
		height: 51px;
		width: 315px;
	}
	.fetured_many {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: var(--pink-color);
		padding-top: 18px;
		padding-left: 16px;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}
	.fetured-title,
	.fetured__text {
		display: flex;
		justify-content: center;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}
	.fetured-title {
		padding-top: 92px;
		padding-bottom: 6px;
	}
	.fetured__text {
		padding-bottom: 48px;
	}
}

@media (max-width: $desktop-width) {
	.fetured__container {
		width: 96%;
		min-height: 2050px;
	}
	.fetured-title {
		margin: 154px 0 4px 0;
	}
	.fetured__text {
		padding-bottom: 73px;
	}
	.fetured__list {
		width: 96%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 0 0 0;
	}
	.fetured__item {
		width: 46%;
		margin-left: 16px;
		margin-bottom: 18px;
	}
}