.name {
    display: flex;
    height: 765px;
    width: 1600px;

    .name__header-span {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        color: var(--pink-color);
    }
    .name_img {
        height: 765px;
        width: 800px;
    }
    .name__header {
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
        @include font(48px, 58px);
    }
    
    .name__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .name__content {
        width: 100%;
        padding: 335px 0 0 64px;
        background-color: $pink-background;
    }
    
    .name__header::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 100%;
        background-color: $pink-color;
        left: -12px;
    }
}

@media (max-width: $desktop-width) {
    .name {
        .name__header-span {
            font-size: 24px;
            line-height: 29px;
        }
        .name_img {
            height: auto;
            width: 50%;
        }
        .name__header {
            font-size: 44px;
            line-height: 52px;
        }
        
        .name__content {
            padding: 138px 0 0 40px;
        }
        
       
    }
}
